<!-- templates/components/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFB2EC;">
    <div class="container justify-content-center">
        <ul class="navbar-nav">
            <!-- Botón de Inicio -->
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <!-- Botón desplegable de Productos -->
            <li class="nav-item dropdown mx-3">
                <a class="nav-link dropdown-toggle" href="#" id="productosDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Productos
                </a>
                <ul class="dropdown-menu" aria-labelledby="productosDropdown">
                    <li><a class="dropdown-item" href="{% url 'product_list' %}">Pinturas</a></li>
                </ul>
            </li>
            <!-- Botones de Logros, Nosotros y Contacto -->
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'seguimiento' %}">Seguimiento pedido</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'carrito' %}">Mi carrito</a>
            </li>
        </ul>
    </div>
</nav>
