<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de compra</title>
    {% load static %}
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<body>
    <!-- Encabezado y navegación -->
    {% include 'components/header.html' %}
    

    {% include 'components/navbar.html' %}


    {% include 'components/cart.html' %}
    
    
    {% load custom_filters %}
    {% load humanize %}
    
    <!-- deberia llamarse detalle del carrito o algo similar -->

    <div class="container mt-5">
        <h1>Carrito de Compras</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad/Volumen</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>${{ item.price|floatformat:0|intcomma_dot }}</td>
                    <td>
                        {% if item.volumen %}
                        {{ item.volumen }}L
                        {% else %}
                        {{ item.quantity }}
                        {% endif %}
                    </td>
                    <td>
                        {% if item.volumen %}
                        ${{ item.volumen|multiply:item.price |floatformat:0 |intcomma_dot }}
                        {% else %}
                        ${{ item.quantity|multiply:item.price |floatformat:0 |intcomma_dot }}
                        {% endif %}
                    </td>
                </tr>
                
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-end"><strong>Envío</strong></td>
                    <td id="shipping-display">$0</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-end"><strong>Sub Total</strong></td>
                    <td id="subtotal-display">$0</td>
                </tr>
                
            </tbody>
        </table>

        <div style="display: flex; justify-content: center;">
            <button id="show-cart-btn" class="btn btn-primary" type="button" data-bs-toggle="offcanvas">
                Editar Carrito
            </button>
        </div>
        <hr>
    
        <!-- Mostrar total -->
<!-- Mostrar total con un ID para ser actualizado dinámicamente -->
 <!-- esto hay que revisarlo parece que no se termina de utilizar porque hay una parte comentada que seguramente sea la forma antigua de 
  la funcion que maneja el tema del transbank-->

<h2>Total: $<span id="total-display"></span></h2>        
        <div class="container" style="max-width: 500px;">
            <h4 class="text-center">Información de Envío</h4>
            <form id="envio-form">
                <div class="form-group">
                    <label for="nombre">Nombre completo</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="rut">RUT</label>
                    <input type="text" class="form-control" id="rut" name="rut" placeholder="12.345.678-9" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Número de Teléfono</label>
                    <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="+569..." required>
                </div>
                <div class="form-group">
                    <label for="correo">Correo electronico</label>
                    <input type="correo" class="form-control" id="correo" name="correo" placeholder="correo@ejemplo.com" required>
                </div>
                <div class="form-group">
                    <label for="zona">Zona de Envío</label>
                    <select class="form-control" id="zona" name="zona" required>
                        <option value="" data-costo="0">Seleccione una zona</option>
                        <option value="zona1" data-costo="3990">Santo Domingo - $3990</option>
                        <option value="zona2" data-costo="3990">Santo Domingo Rural - $3990</option>
                        <option value="zona3" data-costo="3990">Llolleo - $3990</option>
                        <option value="zona4" data-costo="3990">Barracas - $3990</option>
                        <option value="zona5" data-costo="3990">San Antonio - $3990</option>
                        <option value="zona6" data-costo="3990">Lo Gallardo, San Juan, Cuncumen - $3990</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="direccion">Ingrese Direccion</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" required>
                </div>
    
                <!-- Botones centrados -->
                <div class="d-flex flex-column align-items-center mt-4">
                    <button type="submit" class="btn btn-dark btn-sm mb-3">Confirmar Envío</button>
                    <!-- <a href="{% url 'iniciar_pago' %}?total={{ total }}" id="transbank-btn" 
                       class="btn btn-primary btn-sm mb-3" 
                       style="display: none; width: 200px;">
                       Pagar con Transbank
                    </a> -->
                    <button class="btn btn-primary btn-sm mb-3 btn-send-tbk" style="display: none; width: 200px;" id="transbank-btn">
                        pagar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="toast" id="toast-envio" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
        <div class="toast-header">
            <strong class="me-auto">Información de Envío</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Datos de envío confirmados. Ahora puedes proceder al pago.
        </div>
    </div>
    <!-- Footer -->
    {% include 'components/footer.html' %}

    {% csrf_token %}

    <script src="{% static 'js/cart.js' %}"></script>


    <script>

        let productos_lista = "{{ cart_items | escapejs  }}"

            document.addEventListener("DOMContentLoaded", function () {
                const nameFormulario = document.getElementById("nombre");
                const rutFormulario = document.getElementById("rut");
                const telefonoFormulario = document.getElementById("telefono");
                const correoFormulario = document.getElementById("correo");
                const direccionFormulario = document.getElementById("direccion");
                
                const form = document.getElementById("envio-form");
                const zona = document.getElementById("zona");
                const totalDisplay = document.getElementById("total-display");
                const transbankBtn = document.getElementById("transbank-btn");
                const subtotalElements = document.querySelectorAll("tbody tr td:nth-child(4)");
                const toastEnvio = new bootstrap.Toast(document.getElementById("toast-envio"));
        
                const url_tbk = "{% url 'iniciar_pago' %}";
                // const csrf ="{% csrf_token %}"
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                document.querySelector(".btn-send-tbk").addEventListener("click", () =>{
                    const shippingCost = parseFloat(document.getElementById('shipping-display').textContent.replace("$", "")) || 0;

                    console.log(productos_lista)

                    const data_post = {
                        nombre: nameFormulario.value,
                        rut: rutFormulario.value,
                        telefono: telefonoFormulario.value,
                        correo: correoFormulario.value,
                        zona: zona.value,
                        direccion: direccionFormulario.value,
                        costo_envio: shippingCost, // Agregar el costo de envío
                        total: totalFinal,
                        productos: JSON.stringify(productos_lista)
                    }

                    //window.location.href = `${url_tbk}?total=${totalFinal}`

                    fetch(`${url_tbk}?total=${totalFinal}`,{
                        method: 'POST', // Método de la solicitud
                        headers: {
                            'Content-Type': 'application/json', // Indicar que el cuerpo es JSON
                            'X-CSRFToken': csrftoken
                        },
                        body: JSON.stringify(data_post) // Convertir el objeto a un string JSON
                    }).then(response => response.json()).then(res =>{
                        console.log('Iniciando data')
                        console.log(res.data);
                        const url = res.data;
                        window.location.href = url
                    }).catch(err =>{
                        console.log(err);
                    })

                })
                
            // funciones varias
            
            // Función para calcular el total base basado en los subtotales
            function calcularTotalBase() {
                let total = 0;
                subtotalElements.forEach(el => {
                    const subtotal = parseFloat(el.textContent.replace("$", "").replace(".", "")) || 0;
                    total += subtotal;
                });
                return total;
            }
    
            // Inicializar el total base
            let totalBase = calcularTotalBase();
            let totalFinal = totalBase;
    
            // Mostrar el total inicial
            const subtotalDisplay = document.getElementById("subtotal-display");
            function formatNumber(num) {
                return new Intl.NumberFormat('en-EU', { minimumFractionDigits: 0 }).format(num);
            }
            subtotalDisplay.textContent = `$${formatNumberWithDot(Math.round(totalBase))}`;
            totalDisplay.textContent = `${formatNumberWithDot(Math.round(totalBase))}`;
            
            // Detectar cambios en la selección de la zona de envío y acxtualiza los valores

            document.getElementById('zona').addEventListener('change', (e) => {
                const selectedOption = e.target.options[e.target.selectedIndex];
                const shippingCost = parseFloat(selectedOption.dataset.costo) || 0;
                const shippingDisplay = document.getElementById('shipping-display');
                const totalDisplay = document.getElementById('total-display');

                // Actualizar el costo de envío mostrado en la tabla
                shippingDisplay.textContent = `$${formatNumberWithDot(Math.round(shippingCost))}`;

                // Calcular el nuevo total sumando el costo del carrito y el costo de envío
                let cartTotal = totalBase+ shippingCost;
                totalFinal=cartTotal;
                // Actualizar el total mostrado en la tabla
                subtotalDisplay.textContent = `$${formatNumberWithDot(Math.round(cartTotal))}`;

                totalDisplay.textContent = `${formatNumberWithDot(Math.round(cartTotal))}`;
            });


            
    
            // Manejar el envío del formulario
            form.addEventListener("submit", function (e) {
                e.preventDefault();
    
    
                // llama a al funcion de tbk
                if (form.checkValidity()) {
                    // Actualizar el enlace del botón de Transbank con el nuevo total
                    const iniciarPagoUrl = "{% url 'iniciar_pago' %}";
                    transbankBtn.href = `${iniciarPagoUrl}?total=${totalFinal}`;
                    transbankBtn.style.display = "block";
    
                    // Mostrar el Toast
                    toastEnvio.show();
                } else {
                    alert("Por favor, completa todos los campos del formulario.");
                }
            });
        });
    </script>
    
    
    
    <style>
        /* Asegura que el contenido llene el espacio disponible */
        html,
        body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        /* El contenedor principal ocupa todo el espacio disponible */
        .content {
            flex: 1;
            /* Empuja el footer hacia abajo */
        }

        /* Footer estilizado */
        footer {
            background-color: #262C3D;
            color: white;
        }

        footer a {
            text-decoration: none;
            color: white;
        }

        footer a:hover {
            text-decoration: underline;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
</body>

</html>